body {
    margin:0px;
    padding:0px;
    background-color:#FFF5EE;
    display: inline;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
    }

div {
    padding: 0px;
    margin-bottom:0px;
    text-align: justify;
    text-justify: inter-word;
    
}

/* boostrap navbar */
.nav-link  {
           font-family: 'Poiret One', cursive;
           font-size: 25px;
           
}

 .navbar-brand {
           font-family: 'Poiret One', cursive;
           font-size: 30px;
           
 }

 #nazwa { 
      font-family: 'Marck Script', cursive;
      font-size: 25px;
      margin:0;
      padding: 0; 
      text-shadow: 3px 3px khaki ;
 }

 #kwadrat {
      width: 1em;
      height: 1em;
      float: inline-start;
}      
 .jumbotron {
  background-color: #ffff1a;
}


/* nowy navbar */
.navbar { 
display: flex;
justify-content:center;
padding: 0em;
}

.gabinet {
 /* margin-right: 1em; */
  padding: 14px 16px;
  font-size: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Lobster', cursive;

}


.navbar a {
  text-decoration:none;
  color:#111;
}

.navbar h4 {
 margin: 0;
 padding: 0;
}
/* główka*/

#footer {
  margin-top: 0px;
  background-color: lightgrey;
}

#cytat {
  text-align:center;
  padding: 20px;
  position: relative;
  display: block;
  justify-content: center;
 }

/* lewy obrazek */
#lewyobr {
    margin-top: 30px;
    margin-left: 210px;
    margin-right: 20px;
}

/* tekst na stronie */ 

#tresc {
    text-align: justify;
   
}

#tresc ul li {
    list-style-type: circle;
}

#tresc a {
    color:black;
    display:block;
    text-decoration: none;
}

/*obrazy na stronie */


/* bootstrap */

.gap {
  margin-top: 40px;
}

img {
  width: 75%;
}
#warsztaty img  {
width: 50%;
margin-bottom: 1em;
}

#footer img {
  width: 3%;
}

.card {
  margin-bottom: 1em;
  display: inline-block;
}

.list-group a {
  background-color:#FFF5EE;
}
.list-group a:hover{
  background-color:white;
}

