body { 
 background-color: green;
   }

h2, p, a {color: black;
font-family: sans-serif;}
h2, p {text-align: center;}

p2 {color:black; background-color: yellow;}

img {
    height: 300px;
    width: 400px;
    }
