body { 
 background-image: url(./tapeta/darkgreen1.jpg);
 background-repeat: repeat; 
  }

h2, p, a {color: white;
font-family: sans-serif;}
h2, p {text-align: center;}

p2 {color:black; background-color: yellow;}

img {
    height: 300px;
    width: 400px;
    }
